/* --------- Global style */


body {
	max-width: 1200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	background-color: #FBFAF9;
	color: #505AB0;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 1.5rem;
    display: inline;
}

.logo {
    height: 100px;
    padding-right: 20px;
    display: inline;
    vertical-align:middle;
}

#menu-container {
	text-align: right;
}

/* --------- Game layout */

.game-area {
    background-color: #dbe7f0c7;
    border: 2px solid #d9e2e9;
    border-radius: 20px;
    box-sizing: border-box;
    width: 85%;
    height: 45vh;
    max-height: 550px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.result-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.result-area span {
    padding: 0 15px;
}


.choice-area {
    display: block;
    width: 100%;
    height: 40%;
    font-size: 1rem;
    margin-top: 50px;
}

.choice {
    margin-top: 50px;
}

.result-detail {
    margin-top: 80px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff60;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #505AB0;
}

.hidden {
    display: none;
}

#player-choice {
    float: left;
    padding-left: 25%;
}

#computer-choice {
    float: right;
    padding-right: 25%;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    clear: both;
    margin: 30px auto;
    top: 20%;
}

/* scores */

#win {
    color: green;
    font-weight: bold;
}

#lose {
    color: red;
    font-weight: bold;
}

#draw {
    color: grey;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}



#outcome {
	color: black;
	width: 150px;
	padding: 5px;
	margin: 5px auto;
	font-weight: 900;
}

#computer-message {
	color: #505AB0;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #505AB0;
}

.btn-git {
	width: 130px;
    font-size: 0.5rem;
    font-family: "Roboto", sans-serif;
	background-color: #96AFC0;
	border: 1px solid #505AB0;
	padding: 5px 5px 5px;
	font-size: 20px;
    color: white;
	margin: auto;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.restart {
	width: 130px;
    font-size: 0.5rem;
    font-family: "Roboto", sans-serif;
	background-color: #96AFC0;
	border: 1px solid #505AB0;
	padding: 5px 5px 5px;
	font-size: 20px;
    color: white;
	margin: auto;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    background-color: white;
    border-radius: 100px;
    border: 5px solid;
    width: 75px;
    height: 75px;
    font-size: 2.5rem;
    margin: 0 15px;
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.3em;
}

.btn--orange {
    border-color: #FF8080;
    color: #FF8080;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: #FFD5D5;
    color: #FF8080;
}

.btn--yellow {
    border-color: #FFDD55;
    color: #FFDD55;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: #FFF6D5;
    color: #FFDD55;
}

.btn--pink {
    border-color: #E580FF;
    color: #E580FF;
}

.btn--pink:active,
.btn--pink:hover {
    background-color: #F6D5FF;
    color: #E580FF;
}

.btn--green {
    border-color: #87DE87;
    color: #87DE87;
}

.btn--green:active,
.btn--green:hover {
    background-color: #D7F4D7;
    color: #87DE87;
}

.btn--blue {
    border-color: #80B3FF;
    color: #80B3FF;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: #D5E5FF;
    color: #80B3FF;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* footer  */
footer {
    background-color: #FBFAF9;
    height: 275px;
    margin-top: 125px;
}


.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #96AFC0;
}

footer .footnote {
    color: #8f9aa7;
    font-size: 10pt;
    opacity: 0.6;
    text-align: center;
    padding-bottom: 25px;
}

footer .footnote .highlight {
    color: #5d646d;
    font-family: "Roboto", sans-serif;
}


/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn-git {
        width: 100%;
    }

    .restart {
        width: 100%;
    }
    #menu-container {
        margin-bottom: 15px;
    }
    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;      
    }

    .heading {
        font-size: 1rem;
    }

    .logo {
        width: 10%;
        height: 10%;
    }
    #player-choice, #opponent-choice {
        display: none;
   } 
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 100%;
        margin: 10px auto;
    }

    .heading {
        font-size: 0.5rem;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

   #player-choice, #opponent-choice {
        
   } 

   #player-choice {

   }

   #opponent-choice {
       
   }
   .choice-area {
       margin-top: 0px;
   }

   .result-detail {
        display:inline-block;
        vertical-align:middle;
   }
}